div.swiper-button-prev, div.swiper-button-prev::after, div.swiper-button-next, div.swiper-button-next::after {
    color: gray;
    font-size: 30px;
    border-radius: 100%;
}
 @media screen and (max-width: 490px) {
     div.swiper-button-prev, div.swiper-button-prev::after, div.swiper-button-next, div.swiper-button-next::after {
        font-size: 22px;
   }
    
}
 .react-responsive-modal-container .react-responsive-modal-modal {
    border-radius: 6px;
}
 @media screen and (max-width: 479px) {
     .react-responsive-modal-container .react-responsive-modal-modal {
        display: block;
   }
    
}
 @font-face {
    font-family: swiper-icons;
    src: url()
   charset=utf-8;
   base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
    font-weight: 400;
    font-style: normal;
}
 :root {
    --swiper-theme-color: #007aff;
}
 .swiper, swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    z-index: 1;
    display: block;
}
 .swiper-vertical > .swiper-wrapper {
    flex-direction: column;
}
 .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}
 .swiper-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0px);
}
 .swiper-horizontal {
    touch-action: pan-y;
}
 .swiper-vertical {
    touch-action: pan-x;
}
 .swiper-slide, swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    display: block;
}
 .swiper-slide-invisible-blank {
    visibility: hidden;
}
 .swiper-autoheight, .swiper-autoheight .swiper-slide {
    height: auto;
}
 .swiper-autoheight .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
}
 .swiper-backface-hidden .swiper-slide {
    transform: translateZ(0px);
    backface-visibility: hidden;
}
 .swiper-3d.swiper-css-mode .swiper-wrapper {
    perspective: 1200px;
}
 .swiper-3d .swiper-wrapper {
    transform-style: preserve-3d;
}
 .swiper-3d {
    perspective: 1200px;
}
 .swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
    transform-style: preserve-3d;
}
 .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}
 .swiper-3d .swiper-slide-shadow {
    background: rgba(0, 0, 0, 0.15);
}
 .swiper-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
 .swiper-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
 .swiper-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
 .swiper-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
 .swiper-css-mode > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none;
}
 .swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
    display: none;
}
 .swiper-css-mode > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start;
}
 .swiper-horizontal.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: x mandatory;
}
 .swiper-vertical.swiper-css-mode > .swiper-wrapper {
    scroll-snap-type: y mandatory;
}
 .swiper-centered > .swiper-wrapper::before {
    content: "";
    flex-shrink: 0;
    order: 9999;
}
 .swiper-centered > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
 .swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
    margin-inline-start: var(--swiper-centered-offset-before);
}
 .swiper-centered.swiper-horizontal > .swiper-wrapper::before {
    height: 100%;
    min-height: 1px;
    width: var(--swiper-centered-offset-after);
}
 .swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
    margin-block-start: var(--swiper-centered-offset-before);
}
 .swiper-centered.swiper-vertical > .swiper-wrapper::before {
    width: 100%;
    min-width: 1px;
    height: var(--swiper-centered-offset-after);
}
 .swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50% center;
    box-sizing: border-box;
    border-top-style: ;
    border-top-width: ;
    border-right-color: ;
    border-right-style: ;
    border-right-width: ;
    border-bottom-color: ;
    border-bottom-style: ;
    border-bottom-width: ;
    border-left-color: ;
    border-left-style: ;
    border-left-width: ;
    border-image-source: ;
    border-image-slice: ;
    border-image-width: ;
    border-image-outset: ;
    border-image-repeat: ;
    border-radius: 50%;
    border-top-color: transparent;
}
 .swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader, .swiper:not(.swiper-watch-progress) .swiper-lazy-preloader, swiper-container:not(.swiper-watch-progress) .swiper-lazy-preloader {
    animation: 1s linear 0s infinite normal none running swiper-preloader-spin;
}
 .swiper-lazy-preloader-white {
    --swiper-preloader-color: #fff;
}
 .swiper-lazy-preloader-black {
    --swiper-preloader-color: #000;
}
 @keyframes swiper-preloader-spin {
      0% {
        transform: rotate(0deg);
   }
     100% {
        transform: rotate(360deg);
   }
    
}
 .swiper-virtual .swiper-slide {
    backface-visibility: hidden;
    transform: translateZ(0px);
}
 .swiper-virtual.swiper-css-mode .swiper-wrapper::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
}
 .swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
    height: 1px;
    width: var(--swiper-virtual-size);
}
 .swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
    width: 1px;
    height: var(--swiper-virtual-size);
}
 :root {
    --swiper-navigation-size: 44px;
}
 .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: var(--swiper-navigation-top-offset,50%);
    width: calc(var(--swiper-navigation-size)/ 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color,var(--swiper-theme-color));
}
 .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}
 .swiper-button-next.swiper-button-hidden, .swiper-button-prev.swiper-button-hidden {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}
 .swiper-navigation-disabled .swiper-button-next, .swiper-navigation-disabled .swiper-button-prev {
    display: none !important;
}
 .swiper-button-next::after, .swiper-button-prev::after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    letter-spacing: 0px;
    font-variant: initial;
    line-height: 1;
    text-transform: none !important;
}
 .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,10px);
    right: auto;
}
 .swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    content: "prev";
}
 .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,10px);
    left: auto;
}
 .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: "next";
}
 .swiper-button-lock {
    display: none;
}
 .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: opacity 0.3s ease 0s;
    transform: translateZ(0px);
    z-index: 10;
}
 .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
}
 .swiper-pagination-disabled > .swiper-pagination, .swiper-pagination.swiper-pagination-disabled {
    display: none !important;
}
 .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,8px);
    top: var(--swiper-pagination-top,auto);
    left: 0px;
    width: 100%;
}
 .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0px;
}
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
}
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active, .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
}
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
}
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
}
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
}
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
}
 .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color,#000);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
}
 button.swiper-pagination-bullet {
    border: none;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    appearance: none;
}
 .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}
 .swiper-pagination-bullet:only-child {
    display: none !important;
}
 .swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
}
 .swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical > .swiper-pagination-bullets {
    right: var(--swiper-pagination-right,8px);
    left: var(--swiper-pagination-left,auto);
    top: 50%;
    transform: translate3d(0px, -50%, 0px);
}
 .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap,6px) 0;
    display: block;
}
 .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
}
 .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: transform 0.2s ease 0s, top 0.2s ease 0s;
}
 .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4px);
}
 .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}
 .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform 0.2s ease 0s, left 0.2s ease 0s;
}
 .swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet, :host(.swiper-horizontal.swiper-rtl) .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: transform 0.2s ease 0s, right 0.2s ease 0s;
}
 .swiper-pagination-fraction {
    color: var(--swiper-pagination-fraction-color,inherit);
}
 .swiper-pagination-progressbar {
    background: var(--swiper-pagination-progressbar-bg-color,rgba(0,0,0,.25));
    position: absolute;
}
 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
}
 .swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
}
 .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: var(--swiper-pagination-progressbar-size,4px);
    left: 0px;
    top: 0px;
}
 .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-vertical > .swiper-pagination-progressbar {
    width: var(--swiper-pagination-progressbar-size,4px);
    height: 100%;
    left: 0px;
    top: 0px;
}
 .swiper-pagination-lock {
    display: none;
}
 .swiper-scrollbar {
    border-radius: var(--swiper-scrollbar-border-radius,10px);
    position: relative;
    background: var(--swiper-scrollbar-bg-color,rgba(0,0,0,.1));
}
 .swiper-scrollbar-disabled > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-disabled {
    display: none !important;
}
 .swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    position: absolute;
    left: var(--swiper-scrollbar-sides-offset,1%);
    bottom: var(--swiper-scrollbar-bottom,4px);
    top: var(--swiper-scrollbar-top,auto);
    z-index: 50;
    height: var(--swiper-scrollbar-size,4px);
    width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset,1%));
}
 .swiper-scrollbar.swiper-scrollbar-vertical, .swiper-vertical > .swiper-scrollbar {
    position: absolute;
    left: var(--swiper-scrollbar-left,auto);
    right: var(--swiper-scrollbar-right,4px);
    top: var(--swiper-scrollbar-sides-offset,1%);
    z-index: 50;
    width: var(--swiper-scrollbar-size,4px);
    height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset,1%));
}
 .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: var(--swiper-scrollbar-drag-bg-color,rgba(0,0,0,.5));
    border-radius: var(--swiper-scrollbar-border-radius,10px);
    left: 0px;
    top: 0px;
}
 .swiper-scrollbar-cursor-drag {
    cursor: move;
}
 .swiper-scrollbar-lock {
    display: none;
}
 .swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
 .swiper-slide-zoomed {
    cursor: move;
    touch-action: none;
}
 .swiper .swiper-notification, swiper-container .swiper-notification {
    position: absolute;
    left: 0px;
    top: 0px;
    pointer-events: none;
    opacity: 0;
    z-index: -1000;
}
 .swiper-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0px auto;
}
 .swiper-grid > .swiper-wrapper {
    flex-wrap: wrap;
}
 .swiper-grid-column > .swiper-wrapper {
    flex-flow: column wrap;
}
 .swiper-fade.swiper-free-mode .swiper-slide {
    transition-timing-function: ease-out;
}
 .swiper-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
}
 .swiper-fade .swiper-slide .swiper-slide {
    pointer-events: none;
}
 .swiper-fade .swiper-slide-active, .swiper-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}
 .swiper-cube {
    overflow: visible;
}
 .swiper-cube .swiper-slide {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    transform-origin: 0px 0px;
    width: 100%;
    height: 100%;
}
 .swiper-cube .swiper-slide .swiper-slide {
    pointer-events: none;
}
 .swiper-cube.swiper-rtl .swiper-slide {
    transform-origin: 100% 0px;
}
 .swiper-cube .swiper-slide-active, .swiper-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}
 .swiper-cube .swiper-slide-active, .swiper-cube .swiper-slide-next, .swiper-cube .swiper-slide-next + .swiper-slide, .swiper-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible;
}
 .swiper-cube .swiper-slide-shadow-bottom, .swiper-cube .swiper-slide-shadow-left, .swiper-cube .swiper-slide-shadow-right, .swiper-cube .swiper-slide-shadow-top {
    z-index: 0;
    backface-visibility: hidden;
}
 .swiper-cube .swiper-cube-shadow {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 0;
}
 .swiper-cube .swiper-cube-shadow::before {
    content: "";
    background: rgb(0, 0, 0);
    position: absolute;
    inset: 0px;
    filter: blur(50px);
}
 .swiper-flip {
    overflow: visible;
}
 .swiper-flip .swiper-slide {
    pointer-events: none;
    backface-visibility: hidden;
    z-index: 1;
}
 .swiper-flip .swiper-slide .swiper-slide {
    pointer-events: none;
}
 .swiper-flip .swiper-slide-active, .swiper-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto;
}
 .swiper-flip .swiper-slide-shadow-bottom, .swiper-flip .swiper-slide-shadow-left, .swiper-flip .swiper-slide-shadow-right, .swiper-flip .swiper-slide-shadow-top {
    z-index: 0;
    backface-visibility: hidden;
}
 .swiper-creative .swiper-slide {
    backface-visibility: hidden;
    overflow: hidden;
    transition-property: transform, opacity, height;
}
 .swiper-cards {
    overflow: visible;
}
 .swiper-cards .swiper-slide {
    transform-origin: center bottom;
    backface-visibility: hidden;
    overflow: hidden;
}
 .react-responsive-modal-root {
    position: fixed;
    inset: 0px;
    z-index: 1000;
}
 .react-responsive-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0px;
    z-index: -1;
}
 .react-responsive-modal-container {
    height: 100%;
    outline: 0px;
    overflow: hidden auto;
    text-align: center;
}
 .react-responsive-modal-containerCenter::after {
    width: 0px;
    height: 100%;
    content: "";
    display: inline-block;
    vertical-align: middle;
}
 .react-responsive-modal-modal {
    max-width: 800px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 15px;
    margin: 1.2rem;
    padding: 1.2rem;
    position: relative;
    overflow-y: auto;
}
 .react-responsive-modal-closeButton {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    padding: 0px;
    cursor: pointer;
    background-color: transparent;
    display: flex;
}
 @keyframes react-responsive-modal-overlay-in {
      0% {
        opacity: 0;
   }
     100% {
        opacity: 1;
   }
    
}
 @keyframes react-responsive-modal-overlay-out {
      0% {
        opacity: 1;
   }
     100% {
        opacity: 0;
   }
    
}
 @keyframes react-responsive-modal-modal-in {
      0% {
        transform: scale(0.96);
        opacity: 0;
   }
     100% {
        transform: scale(1);
        opacity: 1;
   }
    
}
 @keyframes react-responsive-modal-modal-out {
      0% {
        transform: scale(1);
        opacity: 1;
   }
     100% {
        transform: scale(0.96);
        opacity: 0;
   }
    
}
 .hbxJnH {
    background: rgb(238, 77, 45);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 95%;
    margin: 15px 0px 7px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    transition: all 0.5s ease-out 0s;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
 .hbxJnH:hover {
    opacity: 0.8;
    cursor: pointer;
}
 @-webkit-keyframes pulsante {
      0% {
        transform: scale(1);
   }
     100% {
        transform: scale(1.08);
   }
    
}
 @keyframes pulsante {
      0% {
        transform: scale(1);
   }
     100% {
        transform: scale(1.08);
   }
    
}
 .jiNjgB {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 15px 10px;
    background: linear-gradient(181deg, rgb(245, 63, 45), rgb(254, 99, 50) 87%);
}
 .jiNjgB img {
    width: 100%;
}
 .jiNjgB .container_banner {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 0.3em;
}
 .jiNjgB .container_banner > span {
    font-size: 12px;
}
 .jiNjgB .name_cupom {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-around;
}
 .jiNjgB .name_cupom > h3 {
    font-size: 15px;
    color: rgb(0, 221, 220);
}
 .jiNjgB .name_cupom > h5 {
    color: rgb(255, 255, 255);
}
 .jiNjgB .name_cupom > h5 > span {
    margin-right: 5px;
    margin-left: 3px;
}
 .jiNjgB .container_blocoBlackFriday {
    background-color: rgb(118, 76, 23);
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
}
 @media screen and (min-width: 768px) {
     .jiNjgB {
        -webkit-box-pack: center;
        justify-content: center;
   }
     .jiNjgB img {
        width: 150px;
   }
     .jiNjgB .container_banner {
        display: none;
   }
    
}
 @font-face {
    font-family: HelveticaBlack;
}
 @font-face {
    font-family: HelveticaBold;
}
 @font-face {
    font-family: HelveticaLight;
}
 @font-face {
    font-family: HelveticaMedium;
}
 @font-face {
    font-family: HelveticaRoman;
}
 @font-face {
    font-family: HelveticaThin;
}
 @font-face {
    font-family: HelveticaUltraLight;
}
 * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: Montserrat, sans-serif;
}
 .background-white {
    background: rgb(255, 255, 255);
}
 .show {
    display: block;
}
 .hidden {
    display: none;
}
 .animated-heading {
    animation: 0.7s ease 0s infinite normal none running move;
}
 @-webkit-keyframes move {
      0% {
        transform: translateX(-3px);
   }
     50% {
        transform: translateX(0px);
   }
     100% {
        transform: translateX(-3px);
   }
    
}
 @keyframes move {
      0% {
        transform: translateX(-3px);
   }
     50% {
        transform: translateX(0px);
   }
     100% {
        transform: translateX(-3px);
   }
    
}
 .jCXjDt {
    max-width: 1440px;
    margin: 0px auto;
}
 .ewreFV {
    width: 100%;
    max-width: 450px;
    margin-top: 5px;
    position: relative;
}
 .ewreFV .swiper-backface-hidden .swiper-slide {
    margin-right: 0px !important;
}
 .ewreFV .swiper-thumbs .swiper-wrapper .swiper-slide {
    width: 25% !important;
    padding: 0px 3px !important;
}
 @media screen and (min-width: 1280px) {
     .ewreFV {
        margin-top: -135px;
   }
    
}
 .ddMmtA {
    width: 100%;
    height: auto;
    max-height: 360px;
    object-fit: contain;
    cursor: pointer;
}
 .dIpmYO {
    width: 100%;
    height: auto;
    max-height: 90px;
    border-radius: 6px;
    object-fit: contain;
    cursor: pointer;
}
 .inXJIg {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 5px;
    margin: 5px 0px;
}
 .iTGLtN {
    font-family: "Passions Conflict", cursive;
    font-size: 50px;
    font-weight: 200;
    line-height: 1.2;
    text-align: center;
    color: rgb(33, 33, 33);
}
 .kvwXza {
    font-family: Quicksand, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: start;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
 @media screen and (max-width: 479px) {
     .kvwXza {
        margin-bottom: 10px;
   }
    
}
 .cqzHgK {
    font-size: 18px;
    text-align: center;
    color: rgb(68, 68, 68);
    margin-top: 8px;
}
 .jGjovg {
    font-size: 18px;
    text-align: center;
    color: rgb(71, 68, 68);
}
 .hfGRVz {
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: rgb(238, 77, 45);
}
 .dgyvtK {
    font-size: 14.5px;
    text-align: center;
    text-decoration: underline;
    color: rgb(68, 68, 68);
    margin-top: 5px;
    cursor: pointer;
}
 .dgyvtK:hover {
    color: rgb(96, 167, 65);
}
 .eBMeZt {
    margin-top: 15px;
    padding: 7px 14px;
    min-height: 38px;
    background-color: rgba(60, 167, 69, 0.1);
    color: rgb(60, 167, 69);
    border-radius: 3px;
    border: none;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.5s ease-out 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 9px;
}
 .eBMeZt svg {
    width: 17px;
}
 .eBMeZt:hover {
    opacity: 0.7;
}
 .hSIAyL {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 5px 0px;
}
 @media screen and (max-width: 490px) {
     .hSIAyL {
        gap: 5px;
   }
    
}
 .gWtOUM {
    display: inline-flex;
    margin-right: 0.5rem;
    margin-bottom: 2.5px;
    vertical-align: middle;
}
 .gfkPPZ {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(238, 77, 45);
    border-radius: 0.125rem;
    color: rgb(255, 255, 255);
    cursor: default;
    display: flex;
    padding: 0.125rem 0.25rem;
    user-select: none;
    white-space: nowrap;
    font-family: HelveticaLight, sans-serif;
    font-size: 0.75rem;
    height: 1rem;
    line-height: 0.875rem;
    margin-bottom: 0px;
    margin-top: 0px;
}
 .sJeNB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(229, 217, 217);
}
 .dVxIBj {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
 .dVxIBj svg {
    width: 14px;
    height: 14px;
}
 .dMrGZY {
    align-self: center;
    color: rgb(238, 77, 45);
    margin-left: 0.4375rem;
    font-weight: 400;
    font-size: 14px;
}
 .ciRSav {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 0 1 auto;
    margin-left: 0.75rem;
    overflow: hidden;
    padding-left: 0.75rem;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
}
 .ciRSav::before {
    background: rgba(0, 0, 0, 0.12);
    content: "";
    display: block;
    height: 12px;
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
}
 .jnEegH {
    margin-left: auto;
}
 .jnEegH img {
    width: 22px;
    height: 19px;
}
 .dEiIqf {
    width: 100%;
    margin: 20px 0px;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
 .dEiIqf .ctn_ctn_timer {
    gap: 2.5px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
 .fvJIkg {
    font-size: 14px;
    font-weight: 700;
    color: rgb(34, 34, 34);
}
 .PUlfS {
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: rgb(204, 0, 0);
    margin: 15px 0px;
}
 .egFzND {
    display: flex;
    gap: 17px;
}
 .cVqKtY {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2px;
}
 @media screen and (min-width: 300px) and (max-width: 767px) {
     .cVqKtY {
        font-size: 0.7rem;
   }
    
}
 .cmUozu {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.1;
    color: rgb(128, 128, 128);
}
 @media screen and (min-width: 300px) and (max-width: 767px) {
     .cmUozu {
        font-size: 0.65rem;
   }
    
}
 .edrDqL {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 3%;
    margin: 0px auto 20px;
    background: rgb(239, 239, 239);
}
 .iYBegA {
    width: 100%;
    min-height: 75px;
    background-color: rgb(238, 77, 45);
    border-radius: 10px 10px 0px 0px;
}
 .kBIURQ {
    font-size: 18px;
    color: rgb(255, 255, 255);
    padding-top: 18px;
}
 .cNciXw {
    width: 100%;
    background-color: rgb(239, 239, 239);
    border: 1px solid rgb(238, 77, 45);
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}
 .eGXeSR {
    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
}
 .fTonBV {
    width: 100%;
    max-width: 380px;
    height: auto;
    max-height: 380px;
    border-radius: 7px;
}
 @media screen and (max-width: 430px) {
     .fTonBV {
        max-width: 130px;
        max-height: 130px;
   }
    
}
 @media screen and (min-width: 431px) and (max-width: 835px) {
     .fTonBV {
        max-width: 200px;
        max-height: 200px;
   }
    
}
 .dpsTvu {
    width: 60%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
 .dznkpB {
    font-size: 12px;
}
 .bRdkBE {
    font-size: 12px;
    color: rgb(68, 68, 68);
    margin: 6px 0px;
}
 .jtqAmA {
    text-decoration: line-through;
}
 .cIrKbI {
    font-size: 15px;
    color: rgb(68, 68, 68);
}
 .gjzgbN {
    width: 100%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
 .hMJDuy {
    background: rgb(238, 77, 45);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 1.5rem;
    height: 50px;
    width: 100%;
    max-width: 330px;
    margin: 15px 0px;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    transition: all 0.5s ease-out 0s;
    text-decoration: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
 @media screen and (max-width: 430px) {
     .hMJDuy {
        font-size: 12px;
        padding: 0px 8px;
        height: 42px;
   }
    
}
 .hMJDuy:hover {
    opacity: 0.8;
    cursor: pointer;
}
 @-webkit-keyframes pulsante {
      0% {
        transform: scale(1);
   }
     100% {
        transform: scale(1.08);
   }
    
}
 @keyframes pulsante {
      0% {
        transform: scale(1);
   }
     100% {
        transform: scale(1.08);
   }
    
}
 .jiBwls {
    width: 50%;
}
 @media screen and (max-width: 490px) {
     .jiBwls {
        width: 90%;
   }
    
}
 .kNRcVb {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 20px;
}
 @media screen and (max-width: 430px) {
     .kNRcVb {
        margin-top: 25px;
   }
    
}
 .dRuRpE {
    font-size: 12px;
    font-weight: 700;
    color: rgb(68, 68, 68);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
}
 @media screen and (max-width: 430px) {
     .dRuRpE {
        font-size: 10.5px;
   }
    
}
 .kMYQOT {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 15px;
}
 .iNuHlC {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-left: 140px;
}
 @media screen and (max-width: 490px) {
     .iNuHlC {
        margin-left: 0px;
   }
    
}
 .janLSC {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
 .janLSC:visited, .janLSC:active {
    color: rgb(0, 0, 0);
}
 .caYzbM {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
 .caYzbM .LogoShopee {
    width: 40;
    height: 15px;
    margin: 15px auto;
}
 @media screen and (max-width: 490px) {
     .caYzbM {
        -webkit-box-pack: start;
        justify-content: flex-start;
   }
    
}
 @media screen and (min-width: 491px) and (max-width: 890px) {
     .caYzbM {
        -webkit-box-pack: center;
        justify-content: center;
   }
    
}
 @media screen and (max-width: 490px) {
     .heKdUZ {
        width: 100%;
   }
    
}
 @media screen and (min-width: 491px) and (max-width: 890px) {
     .heKdUZ {
        margin: 10px 40px;
   }
    
}
 @media screen and (max-width: 490px) {
     .dLcomF {
        width: 100%;
   }
    
}
 .eevZSB {
    width: 100%;
}
 @media screen and (min-width: 490px) {
     .eevZSB {
        display: none;
   }
    
}
 .SfeRU {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 5px;
}
 .iqissD {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
}
 @media screen and (max-width: 490px) {
     .iqissD {
        font-size: 14px;
        margin: 15px 0px;
   }
    
}
 .bXxIHs {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}
 @media screen and (max-width: 490px) {
     .bXxIHs {
        margin-top: 30px;
   }
    
}
 .eJVtsU {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: rgb(0, 0, 0);
    margin-bottom: 8px;
    cursor: pointer;
}
 .eJVtsU:hover {
    text-decoration: underline;
}
 .dJIHTb {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid rgba(206, 126, 0, 0.1);
}
 @media screen and (max-width: 490px) {
     .dJIHTb {
        padding-bottom: 20px;
   }
    
}
 .bzYZAl {
    display: flex;
    gap: 10px;
}
 .kwlFud {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
 .bRVXAk {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
 @media screen and (max-width: 490px) {
     .bRVXAk {
        display: none;
   }
    
}
 .HmbFT {
    width: 45px;
    height: 28px;
}
 .jRFFqP {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
 .fyXsae .FixedBuyNow {
    background-color: rgb(255, 255, 255);
    bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 6px 0px;
    display: flex;
    height: 47px;
    position: fixed;
    width: 100%;
    z-index: 101;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.09) !important;
    border-image: initial !important;
    border-width: 1px 0px 0px !important;
}
 .fyXsae .conversar-agora, .fyXsae .adicionar-ao-carrinho {
    flex: 1 1 0%;
    background-color: rgb(0, 191, 165);
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
 .fyXsae .conversar-agora svg, .fyXsae .adicionar-ao-carrinho svg {
    fill: rgb(255, 255, 255);
    flex: 0 1 auto;
    height: 1.5rem;
    margin-bottom: 0.25rem;
    width: 1.5rem;
}
 .fyXsae .conversar-agora span, .fyXsae .adicionar-ao-carrinho span {
    font-size: 10px;
    color: rgb(255, 255, 255);
}
 .fyXsae .product-bottom-panel__separator {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(0, 191, 165);
    display: flex;
    flex: 0 1 0%;
    max-height: 3rem;
}
 .fyXsae .product-bottom-panel__separator-real {
    flex: 0 1 0%;
    height: 1.75rem;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.09) !important;
    border-image: initial !important;
    border-width: 0px 0px 0px 1px !important;
}
 .fyXsae .adicionar-ao-carrinho {
    flex: 1 1 0%;
    background-color: rgb(0, 191, 165);
    height: 47px;
}
 .fyXsae .adicionar-ao-carrinho img {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}
 .fyXsae .comprar-agora {
    flex: 2 1 0%;
    background-color: rgb(238, 77, 45);
    height: 47px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
 .gLuVJG {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 12px;
}
 @media screen and (min-width: 1280px) {
     .gLuVJG {
        gap: 50px;
   }
    
}
 .iFOKEi {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 10px;
}
 .cVAMSl {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
 .bHlIIB {
    width: 100%;
    background: rgb(238, 77, 45);
    color: rgb(255, 255, 255);
    padding: 0.75rem 15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
 @media screen and (max-width: 340px) {
     .bHlIIB {
        padding: 0.375rem 5px;
   }
    
}
 .csWyjW {
    display: flex;
    flex-direction: column;
}
 .csWyjW .price-show {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 1.5rem;
    gap: 4px;
    margin-top: 5px;
}
 .csWyjW .price-now {
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
    font-weight: 400;
    max-width: 8rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 2.5px;
}
 .csWyjW .price-now .a-vista {
    font-size: 12px;
    font-weight: 200;
}
 @media screen and (max-width: 350px) {
     .csWyjW .price-now .a-vista {
        display: none;
   }
    
}
 .csWyjW .price-before {
    font-weight: 300;
    font-size: 0.625rem;
    text-decoration: line-through;
    color: rgb(255, 255, 255);
}
 .hdUiCv {
    height: 1rem;
    margin-right: 0.5rem;
    background-repeat: no-repeat;
    width: 8.875rem;
    background-image: url("../images/af4872df837c9c8bb3b3fa28e970c08c.png");
    background-size: 100% 100%;
}
 .iYhVOs {
    display: flex;
    flex-direction: column;
}
 .iYhVOs .vendas {
    text-align: end;
    font-weight: 400;
    font-size: 0.875rem;
    margin-bottom: 2px;
}
 .iYhVOs .timer-counter {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 5px;
}
 .iYhVOs .timer-counter span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 400;
    font-size: 0.7rem;
    margin-right: 5px;
}
 .iYhVOs .ctn_ctn_timer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 3.5px;
}
 .iYhVOs .ctn_ctn_timer .hora, .iYhVOs .ctn_ctn_timer .minuto, .iYhVOs .ctn_ctn_timer .segundo {
    border: 1px solid rgb(255, 255, 255);
    padding: 1px 2px;
    font-size: 12px;
}
 .dDRlAV {
    background: rgb(255, 255, 255);
    padding: 0.75rem 0.75rem 0.875rem;
    border-top: 0.75rem solid rgb(239, 239, 239);
}
 .dDRlAV .CtnTitulos {
    display: flex;
    flex-direction: column;
    -webkit-box-align: start;
    align-items: start;
    font-size: 12px;
}
 .dDRlAV .CtnTitulos h4 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 6px;
}
 .dDRlAV .starsAvaliableHead {
   justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
 .dDRlAV .starsAvaliableHead span {
    margin-left: 0.3125rem;
    color: rgb(238, 77, 45);
}
 .dDRlAV .stars svg {
    width: 12px;
}
 .dDRlAV .blocosCinzas {
    margin: 0.5rem 0px 0px;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
 .dDRlAV .blocosCinzas .bloco {
    width: 47%;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    line-height: 1.875rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0.5rem 0px 0px;
}
 .dDRlAV .englobaVer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
 }
 .dDRlAV .VerTudo {
    font-size: 14px;
    color: rgb(238, 77, 45);
    font-weight: 400;
}
 .dDRlAV .VerTudo svg {
    height: 0.6875rem;
    width: 0.6875rem;
    rotate: 90deg;
    margin-left: 0.25rem;
}
 .fTIFMj {
    display: flex;
    align-items: flex-start;
    padding: 0px 12px;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-style: solid !important;
    border-color: rgba(0, 0, 0, 0.09) !important;
    border-image: initial !important;
    border-width: 1px 0px 0px !important;
}
 .fTIFMj .imgPerfil {
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-top: 0.70625rem;
}
 .fTIFMj .imgPerfil img {
    border-radius: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
}
 .fTIFMj .campText {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-width: 0px;
    padding-top: 0.6875rem;
}
 .fTIFMj .campText .ctnName {
    gap: 5px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
}
 .fTIFMj .campText .ctnName .name {
    font-weight: 400;
    font-size: 14px;
}
 .fTIFMj .stars {
    margin-bottom: 12px;
}
 .fTIFMj .campText .stars ul {
    list-style: none;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1px;
    padding-bottom: 5px;
    margin-left: 0px;
}
 .fTIFMj .campText .stars ul li {
    width: 14px;
    height: 14px;
}
 .fTIFMj .campText .stars ul li svg {
    width: 100%;
    height: 100%;
}
 .fTIFMj .CustoBeneficio {
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-align: start;
}
 .fTIFMj .CustoBeneficio span {
    color: rgba(0, 0, 0, 0.4);
}
 .fTIFMj .campText .description {
    margin: 0.75rem 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    white-space: pre-wrap;
}
 .fTIFMj .containerImages {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin-top: -0.328125rem;
    width: 100%;
}
 .fTIFMj .containerImages .ItemImages {
    margin-top: 0.375rem;
    margin-left: 0.375rem;
}
 .fTIFMj .containerImages .ItemImages:first-child {
    margin-left: 0px;
}
 .fTIFMj .containerImages .ItemImages > div:first-child {
    max-width: 135px;
    max-height: 135px;
    height: 100%;
    width: 100%;
}
 .fTIFMj .imageModal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none !important;
    max-height: none !important;
}
 .fTIFMj .DatadoPost {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-align: start;
    margin: 12px 0px;
}
 .fTIFMj .DatadoPost span {
    color: rgba(0, 0, 0, 0.4);
}
 @media screen and (max-width: 375px) {
     .fTIFMj .campText .ctnName {
        padding-bottom: 5px;
   }
     .fTIFMj .campText .stars ul {
        padding-bottom: 5px;
   }
     .fTIFMj .campText .description {
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
   }
    
}
 @media screen and (max-width: 350px) {
     .fTIFMj .campText .ctnName {
        padding-bottom: 5px;
   }
     .fTIFMj .campText .ctnName .name {
        font-size: 14px;
   }
     .fTIFMj .campText .stars ul {
        padding-bottom: 5px;
   }
     .fTIFMj .campText .description {
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
   }
    
}
 .gDgIXX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 0.7em;
    margin-top: 30px;
}
 .OhahO {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    color: rgb(238, 77, 45);
    display: flex;
    font-size: 0.875rem;
    height: 3rem;
    -webkit-box-pack: center;
    justify-content: center;
    text-decoration: none;
}